.App {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-inner {
  margin-top: 10%;
}

@media (min-width: 992px) {
  .container-inner {
    max-width: 520px;
    margin-top: 5%;
  }
}

@media (min-width: 576px) {
  .container-inner {
    max-width: 480px;
  }
}


.editBtn {
  background-color: green;
  color: white;
  border-radius: 0px 5px 5px 0px;
}

.popup-content span {
  color: green;
}